/* Main Container */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 36px;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* logo styling */
.Logo {
  max-width: 100px;
}